:root {
  --primary: #012e54;
  --secondary: #32d583;
  /* --secondary: rgb(255, 192, 159); */
  /* --primary: rgb(1, 46, 84); */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Document
   ========================================================================== */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Public Sans', 'Quando', 'Poppins', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

a {
  background-color: transparent;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* * {
  scrollbar-width: thin; 
  scrollbar-color: var(--primary) #f1f1f1; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
  border-radius: 8px;
} */

[hidden] {
  display: none;
}
.mini-drawer-link {
  padding-inline: 10px;
  padding-block: 4px;
  text-decoration: none;
  color: #012e54;
}
.mini-drawer-link:hover {
  background-color: #012e54;
  color: #fff;
}

.content {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 16px;
}

.swal2-container {
  z-index: 110000 !important;
  font-family: inherit;
  background-color: hsla(0, 7%, 8%, 0.2) !important;
}
.swal2-title {
  font-size: 1.2rem !important;
}
.swal2-html-container {
  font-size: 0.85rem !important;
}
.swal2-confirm,
.swal2-cancel {
  font-size: 0.75rem !important;
}

.swal2-confirm {
  background-color: var(--secondary) !important;
}

/* .dropdown {
  background-color: blue;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  background-color: peru;
}

.dropdown:focus,
.dropdown-menu {
  display: block;
  opacity: 1;
} */
.ico {
  fill: #fff !important;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.ico:hover {
  scale: 1.4 !important;
}

tbody tr:hover .edit {
  fill: #62abff !important;
}

tbody tr:hover .delete {
  fill: #b72136 !important;
}

tbody tr:hover svg {
  fill: rgb(1, 46, 84) !important;
}

.print-container {
  display: none;
}

@media print {
  .add-remarks-btn,
  .add-remark,
  .hide-on-print {
    display: none !important;
    background-color: transparent;
    color: transparent;
    visibility: hidden !important;
  }
  .print-container {
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .report {
    margin: 0;
    /* padding: 0; */
    border: 0;
  }

  /* .table-container{
    padding-top: -20px;
  } */
}

/* SPinners */

#wifi-loader {
  --background: #62abff;
  /* --front-color: #4f29f0; */
  --front-color: var(--primary);
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

/* Swiper */
.swiper {
  width: inherit;
  min-width: inherit;
  height: 45dvh;
  border-radius: 10px;
}
.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-bottom: 40px;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  padding: 5px;
}

.swiper-slide {
  position: relative !important;
  width: inherit !important;
  border-radius: 10px;
}

.swiper-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top left,
    /* rgba(0, 76, 45, 0.9), */ rgba(8, 61, 119, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
}

.swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
