:root {
  --primary: #012e54;
  --secondary: #ffc09f;
  /* --secondary: #32d583; */
  --button-background: dodgerblue;
  --button-color: white;

  --dropdown-highlight: dodgerblue;
  --dropdown-width: 160px;
  --dropdown-background: white;
  --dropdown-color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
}

body {
  /* width: 100svw;
  height: 100%;
  min-height: 100svh; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  /* font-size: 14px !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  /* border:2px solid rebeccapurple; */
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter linear;
  filter: blur(3px);
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

a {
  background-color: transparent;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

img {
  border-style: none;
}

textarea,
input {
  font-size: 16px;
}

/* * {
  scrollbar-color: var(--secondary) var(--primary);
} */

::-webkit-scrollbar {
  scrollbar-width: none;
  /* width: 0px; */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
  border-radius: 8px;
}

[hidden] {
  display: none;
}

.sidebar::-webkit-scrollbar,
.css-10vnudn-MuiTableCell-root-MuiTablePagination-root::-webkit-scrollbar {
  scrollbar-width: none;
}
/* .report-container {
  background-color: #fff;
} */

.report-container::-webkit-scrollbar {
  width: 0px;
}

.mini-drawer-link {
  padding-inline: 10px;
  padding-block: 4px;
  text-decoration: none;
  color: #012e54;
}
.mini-drawer-link:hover {
  background-color: #012e54;
  color: #fff;
}

.dashboard-wrapper {
  container-type: inline-size;
}

@container (max-width: 700px) {
  .dashboard-sidebar {
    background-color: red;
  }
}

.content {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 16px;
}

/* dropdown  */
a.button {
  /* Frame */
  display: inline-block;
  box-sizing: border-box;

  /* Style */
  border: none;
  /* background: var(--button-background);
  */
  color: var(--primary);
  cursor: pointer;
}

a.button:active {
  filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
  position: relative;
  padding: 0;
  margin-right: 1em;
  outline: none;
  border: none;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
  outline: none;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  margin: 15px 0 0 0;
  padding: 5px;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc((var(--dropdown-width) / 2) * -1);
  box-sizing: border-box;
  z-index: 2;

  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 350ms ease-in-out;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--primary);
  color: var(--dropdown-background);
  border-radius: 6px;
}

/* Dropdown triangle */
.dropdown ul::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.swal2-container {
  z-index: 110000 !important;
  font-family: inherit;
}

.swal2-title {
  font-size: 1.2rem !important;
}

.swal2-html-container {
  font-size: 1rem !important;
}

.swal2-confirm,
.swal2-cancel {
  font-size: 1rem !important;
}

.swal2-confirm {
  background-color: var(--secondary) !important;
}

.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.MuiFormLabel-root {
  color: var(--primary);
  font-weight: 600;
}

.ico {
  fill: #fff !important;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.ico:hover {
  scale: 1.4 !important;
}

tbody tr:hover .edit {
  fill: #62abff !important;
}

tbody tr:hover .delete {
  fill: #b72136 !important;
}

tbody tr:hover svg {
  fill: rgb(1, 46, 84) !important;
}

.print-container {
  display: none;
}

@media print {
  .add-remarks-btn,
  .add-remark,
  .hide-on-print {
    display: none !important;
    background-color: transparent;
    color: transparent;
    visibility: hidden !important;
  }
  .print-container {
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .report {
    margin: 0;
    /* padding: 0; */
    border: 0;
  }

  .custom-shape-divider-top-1737365089 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  /* .table-container{
    padding-top: -20px;
  } */
}

/* SPinners */

#wifi-loader {
  --background: #62abff;
  /* --front-color: #4f29f0; */
  --front-color: var(--primary);
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.spinner2 {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #ffffff 41%);
  background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner2-d3o0rx 1s infinite steps(12);
}

.spinner2::before,
.spinner2::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner2::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner2-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
.spinner3 {
  width: 40px;
  height: 40px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #ffffff 41%);
  background: linear-gradient(
        0deg,
        /* rgba(1, 46, 84, 0.9) 50%,
        rgba(1, 46, 84, 1) 0 */
          rgba(255, 255, 255, 0.9) 50%,
        rgb(255, 255, 255) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.36) 50%,
        rgba(255, 255, 255, 0.75) 0
          /* rgba(1, 46, 84, 0.25) 50%,
        rgba(1, 46, 84, 0.75) 0 */
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner2-d3o0rx 400ms infinite steps(12);
}

.spinner3::before,
.spinner3::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner3::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner3-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--primary) 94%, #0000) top/9px
      9px no-repeat,
    conic-gradient(#0000 30%, var(--primary));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

.spinner-loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--primary) 94%, #0000) top/9px
      9px no-repeat,
    conic-gradient(#0000 30%, var(--primary));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: spinner-c7wet2 750ms infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

/* Swiper */
.swiper {
  width: inherit;
  min-width: inherit;
  height: 45dvh;
  border-radius: 10px;
}
.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-bottom: 40px;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  padding: 5px;
}

.swiper-slide {
  position: relative !important;
  width: inherit !important;
  border-radius: 10px;
}

.swiper-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top left,
    /* rgba(0, 76, 45, 0.9), */ rgba(8, 61, 119, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
}

.swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.notification-item {
  background-color: #fff;
}

.notification-item:hover {
  background-color: lightgray !important;
}
