# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /public_html/

#   # Redirect non-www to www (optional)
#   # RewriteCond %{HTTP_HOST} !^www\. [NC]
#   # RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#   # If a directory or a file exists, use it directly
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d

#   # Otherwise, serve the index.html page
#   RewriteRule ^ index.html [L]
# </IfModule>


RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

